.topo{
    /* background-color: #b02c0c ; */
    background-image: url('../drive-download-20241003T192218Z-001/DSC_7340.jpg');

    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la pantalla */

    
    height:300px;
    border-radius: 0px 0px 5px 5px;
}

.flex_lista{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    flex-wrap:wrap ;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.al{
    color: black;
    text-shadow: 1px 1px 1px white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link_color{
    color: black;

}

.flex{
    display:flex;
    align-items:center;
    justify-content: center;

}

.flex_center{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.flex_header{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    flex-direction: column;

}

.div_presentes{
    flex-wrap: wrap ;
}

.card{
    margin-top: 50px;
    margin-left: 5px;
}


.convidados{
    margin-bottom: 10px;
    padding: 5px;
    border: solid black 2px;
}

.btn_confimar{
    margin-bottom: 10px;
}


.presenteado{
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    font-weight: bold;
    color: #b02c0c;
}

.indisponivel{
    color: red;
}