{% extends 'home.html' %}

{% block content %}

<div class="container">
    <form method="POST" action="{% url 'add_convidado' %}">
        {% csrf_token %}
        <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" class="form-control" name="nome" id="id_nome" placeholder="Seu Nome">
        </div>
        <div class="form-group">
        <label for="formGroupExampleInput2">Quantidade de acompanhantes</label>
        <input type="text" class="form-control" name="qt_acompanhante" id="acompanhante" placeholder="Quantidade de acompanhantes">
        </div>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
</div>
{% endblock %}