{% extends 'home.html' %}

{% block content %}
<div class="container">

    <h1>Obrigado</h1>

    <p>Queremos expressar nossa profunda gratidão pelo presente maravilhoso que escolheram para nos presentear. Ficamos muito felizes e tocados com tanto carinho e consideração. Saibam que ele terá um lugar especial em nossa nova vida juntos e sempre nos lembrará da amizade e do afeto que compartilhamos.

        Muito obrigado por fazerem parte desse momento tão importante e especial em nossas vidas.
        
        Com todo o nosso carinho,
        
        </p>
        <p>Aline & Leonardo</p>
        
</div>

{% endblock %}