{% extends 'home.html' %}

{% block content %}
<div class="container flex_center">
    <div class="container flex flex_header">
        <h3 class="m-4">Igreja da Divina Misericórdia</h3>
        <p><strong>Nossa cerimônia de casamento será celebrada na Igreja Divina Misericórdia.</strong></p>

        <p>Com os corações cheios de gratidão e fé, escolhemos este lugar sagrado para consagrar nossa união diante de Deus. Na presença de nossos familiares e amigos, receberemos as bênçãos divinas que fortalecerão nosso amor e nosso compromisso, guiados pela misericórdia infinita de Cristo.</p>
        
        <p>A Igreja Divina Misericórdia, com seu ambiente de paz e devoção, será o cenário onde compartilharemos um dos momentos mais abençoados de nossas vidas. Aguardamos com muita alegria a presença de todos para vivenciar esse dia tão sagrado conosco.</p>
        

    </div>
    <div class=" container flex_center">
        <a href="https://www.instagram.com/divinamisericordiaitz?igsh=MXRvMWY3ZzcyYTVrYQ==" target="_blank" class="me-4 text-reset">
          <img class="" style="height: 60px; width: 45px;" src="../static/img/Instagram_logo_2016.svg.png"alt="">
        </a>
    </div>

    <div class="container  m-3 flex">
        <div class="card m-0" style="width: 18rem">
            <iframe 
                class="card-img-top"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15885.163551854492!2d-47.4661063!3d-5.5237866!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92c55f2bab414a6f%3A0x18aaa0eacbba9c30!2sIgreja%20da%20Divina%20Miseric%C3%B3rdia!5e0!3m2!1spt-BR!2sbr!4v1726918136271!5m2!1spt-BR!2sbr"
                width="100%" 
                height="100%" 
                style="border:solid #DDD 1px;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">

            </iframe>
            <p class="p-2" > R. Tupinambá, 862 - Jardim Sao Luiz, Imperatriz - MA, 65913-050</p>
        </div>

    </div>
</div>
{% endblock %}