{% extends 'home.html' %}

{% block content %}
<h2>QUARTO</h2>
  <div class="container flex div_presentes">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/coxa_de_cama.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jogo de Cama</h5>
        <p class="card-text">Jogo de cama Casal com edredom lençol fronha função cobre leito e cobertor</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/jogo_de_toalhas.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jogo de Toalhas</h5>
        <p class="card-text">Jogo de Toalhas Buddemeyer Florentina Banho Branco 4 peças</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/corina.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cortina</h5>
        <p class="card-text">Cortina Blackout PVC com Tecido Voil Xadrez 2,80 m x 2,30 m Bege</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/jogo_de_lençol.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jogo de lençol</h5>
        <p class="card-text">Jogo De Lençol Queen 4 Pçs 300 Fios Percal Bordado Branco.</p>
        <a href="#" class="btn btn-primary">Presentear</a>
      </div>
    </div>
  </div>

  <h2>COZINHA</h2>
  <div class="container flex div_presentes">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/jogo de jantar.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">JOGO DE JANTAR</h5>
        <p class="card-text">Aparelho de Jantar e Chá 20 Pçs Oxford Ryo Maresia</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/faqueiro.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Faqueiro</h5>
        <p class="card-text">Faqueiro, 24 Peças, Perolado, Branco, Casambiente</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/tacas.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jogo de taças</h5>
        <p class="card-text">Jogo 6 Taças Diamond Transparente com Borda Dourada 300ml</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/sobremesa.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jogo de taças sobremesa</h5>
        <p class="card-text">Jogo de taças sobremesa em vidro L'Hermitage Cameratta 310ml 6 peças</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/pratos_fundos.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Conjunto de Pratos</h5>
        <p class="card-text">Conjuto 6 Pratos Fundos em Porcelana Oxford Maresia 22,5cm</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/xicaras.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Conjunto de Xícaras</h5>
        <p class="card-text">Wolff Coração Pearl Conjunto de Xícaras para Café com Pires de Cristal 4 Peças, Transparente, 85 ml</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/caneca.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Canecas</h5>
        <p class="card-text">Caneca Em Porcelana Ryo 260ml - Maresia - Oxford</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/jogo_de canecas.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jogo Caneca Fervedor</h5>
        <p class="card-text">Jogo Caneca Fervedor Leiteira Antiaderente 12/14/16 3 Peças.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/cacarola.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CAÇAROLAS COM TAMPAS ANTIADERENTES</h5>
        <p class="card-text">Mimo Style Caçarola Linha Cook Alumínio e Tampa de Vidro</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/jogo_de_panelas.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jogo de Panelas</h5>
        <p class="card-text">Jogo de Panelas 5 Peças Ceramic Life Orion Brinox - Preto</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/conjunto_frigideira.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Conjunto De Frigideiras</h5>
        <p class="card-text">Conjunto De Frigideiras Antiaderente 3 Peças Nacional preto</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/tapioqueira.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">TAPIOQUEIRA</h5>
        <p class="card-text">TAPIOQUEIRA E PENEIRA DE FARINHA TAPIOCA TIPO TAPY</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/pratos_de_presao.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Panela de Pressão</h5>
        <p class="card-text">Panela de Pressão Vancouver Effect em Alumínio com Revestimento Antiaderente Preto </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/utencilios_silicone.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Utensilios para Cozinha</h5>
        <p class="card-text">Utensilios para Cozinha Silicone Kit com 19 Peças Cabo Madeira Conjunto Completo</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/facas.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Facas</h5>
        <p class="card-text">Tramontina JOGO FACAS INOX 10PC PLENUS PRE, Preto</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/assadeiras.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Conjunto de Assadeiras</h5>
        <p class="card-text">Conjunto de Assadeiras de Vidro com Tampa 6 Peças - Marinex</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/porta_temperos.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Porta Temperos Giratório</h5>
        <p class="card-text">Porta Temperos Giratório Com 9 Potes De Vidro Tampa Dosadora Preto</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/porta_alimentos.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Porta Alimentos Mantimentos</h5>
        <p class="card-text">Kit 15 Potes Tampa Hermético Porta Alimentos Mantimentos Armário Cozinha</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/sanduicheira.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sanduicheira Minigrill</h5>
        <p class="card-text">Sanduicheira Minigrill Gourmet 220V com 750W Chapa Dupla e com Revestimento Antiaderente Preta</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/batedeira.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Batedeira</h5>
        <p class="card-text">Batedeira Prática, Mondial, Preto, 400W, 220V.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/Miniprocessador.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Miniprocessador</h5>
        <p class="card-text">Miniprocessador Easy Cut, Preto, 220v, Cadence</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/presentes/Liquidificador.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Liquidificador</h5>
        <p class="card-text">Britânia Blq1300p - Liquidificador Turbo, 1400W, 3L, Chumbo, 220v, Preto</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>    

  <h2>OUTROS</h2>
  <div class="container flex div_presentes">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SANDUICHEIRA</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">BATEDEIRA</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CAFETEIRA</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">FERRO DE PASSAR</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">MICROONDAS</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">PANELA ELETRICA</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
        <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">AYRFREY</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">PROCESSADOR DE ALIMENTOS</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">LIQUIDIFICADOR</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CENTAL DE AR</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">MAQUINA DE LAVAR ROUPA</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">FORNO ELETRICO</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">VENTILADOR</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">FOGAO</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
        <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CAMA</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">MESA</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
{% endblock %}
