{% extends 'home.html' %}

{% block content %}

  <div class="container flex div_presentes">
    {% for x in presente %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{x.link_img}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{x.presente}}</h5>
        <p class="card-text">{{x.descricao}}</p>
        <a href="#" class="btn btn-primary">Presentear</a>
        <p class="card-text">Restantes {{x.quantidades}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
