{% extends 'home.html' %}

{% block content %}
<div class="container">
    <ul class="list-group">
        <li class="list-group-item active">Lista de Convidados</li>
        {% for conv in conv %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              {{conv}}
            </label>
          </div>
        {% endfor %}
          <hr>
        <h3>Crianças</h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Arthur
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Adrian
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Joao Lucas
            </label>
          </div>
    </ul>
</div>
{% endblock %}