{% extends 'home.html' %}

{% block content %}
<div class="container flex_center">
    <div class="container flex flex_header">
        <h3 class="m-4">Leny Eventos e Buffet</h3>
        <div>
            <p><strong>Informamos que a recepção do nosso casamento será realizada no Leny Eventos, logo após a cerimônia.</strong></p>

            <p>Estamos muito felizes em compartilhar este momento especial com vocês e esperamos que todos possam se juntar a nós para celebrar essa ocasião única. O Leny Eventos oferece um ambiente elegante e aconchegante, ideal para comemorarmos com amigos e familiares.</p>
            <p>Contamos com a presença de todos para tornar esse dia ainda mais inesquecível!</p>
        </div>

    </div>

    <div class=" container flex_center">
        <a href="https://www.instagram.com/lenyeventos?igsh=c2x0eG9zNXIxMHQw" target="_blank" class="me-4 text-reset">
          <img class="" style="height: 60px; width: 45px;" src="../static/img/Instagram_logo_2016.svg.png"alt="">
        </a>
    </div>

    <div class="container  m-3 flex">
        <div class="card m-0" style="width: 18rem">
            <iframe 
                class="card-img-top"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.1702868069488!2d-47.46910862501477!3d-5.541749494438552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92c55f7baae48009%3A0xf10edc344fe97e06!2sLeny%20Eventos%20e%20Buffet!5e0!3m2!1spt-BR!2sbr!4v1726842082863!5m2!1spt-BR!2sbr" 
                width="100%" 
                height="100%" 
                style="border:solid #DDD 1px;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">

            </iframe>
            <p class="p-2" >R. Leôncio Píres Dourado, n15 - Bacuri, Imperatriz - MA, 65901-020</p>
        </div>

    </div>
</div>
{% endblock %}