{% extends 'home.html' %}

{% block content %}
    <div class="container">
        <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Codigo do Convite</label>
              <input type="text" class="form-control" autofocus name="cdv" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
    </div>
{% endblock %}